{% extends "::base.html.twig" %}
{% block title %}Modification du profil &ndash; {{ parent() }}{% endblock %}
{% block body %}
    {% form_theme form 'GatsunWebsiteBundle:Form:fields.html.twig' %}
    <section class="panel panel-default">
        <div class="panel-heading">
            <h1>Modification du profil</h1>
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="card-panel">
                <h3>Personnalisation du profil</h3>

                <em>Tous les champs sont facultatifs.</em>

                <div>
                    Avatar actuel :
                    {% if utilisateur.image != "/../defaut.png" %}
                        <img src="{{ asset('images/profils/' ~ utilisateur.username ~ '.' ~ utilisateur.image) }}"
                             alt="Avatar de {{ utilisateur.username }}"/>
                        <button class="btn btn-default btn-danger" onClick="confirmerSuppression()"><i
                                    class="fa fa-trash-o fa-fw"></i> Supprimer
                        </button>
                        <br/>
                    {% else %}
                        Aucun<br/>
                    {% endif %}
                </div>

                {{ form_errors(form.fichier) }}
                <div class="file-field input-field">
                    <div class="btn waves-effect waves-light">
                        <span>Avatar</span>
                        {{ form_widget(form.fichier) }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Sélectionnez un fichier">
                    </div>
                </div>

                {{ form_errors(form.facebook) }}
                <div class="input-field">
                    {{ form_widget(form.facebook) }}
                    {{ form_label(form.facebook) }}
                </div>

                {{ form_errors(form.twitter) }}
                <div class="input-field">
                    {{ form_widget(form.twitter) }}
                    {{ form_label(form.twitter) }}
                </div>

                {{ form_errors(form.googlePlus) }}
                <div class="input-field">
                    {{ form_widget(form.googlePlus) }}
                    {{ form_label(form.googlePlus) }}
                </div>

                {{ form_errors(form.skype) }}
                <div class="input-field">
                    {{ form_widget(form.skype) }}
                    {{ form_label(form.skype) }}
                </div>
            </div>
            <div class="card-panel">
                <h3>Informations personnelles</h3>

                <em>Tous les champs sont facultatifs et servent uniquement pour les jeux concours.</em>

                {{ form_errors(form.nom) }}
                <div class="input-field">
                    {{ form_widget(form.nom) }}
                    {{ form_label(form.nom) }}
                </div>

                {{ form_errors(form.prenom) }}
                <div class="input-field">
                    {{ form_widget(form.prenom) }}
                    {{ form_label(form.prenom) }}
                </div>

                {{ form_errors(form.dateNaissance) }}

                <div class="input-field">
                    {{ form_widget(form.dateNaissance) }}
                    {{ form_label(form.dateNaissance) }}
                </div>

                {{ form_errors(form.adresse) }}
                <div class="input-field">
                    {{ form_widget(form.adresse) }}
                    {{ form_label(form.adresse) }}
                </div>

                {{ form_errors(form.codePostal) }}
                <div class="input-field">
                    {{ form_widget(form.codePostal) }}
                    {{ form_label(form.codePostal) }}
                </div>

                {{ form_errors(form.ville) }}
                <div class="input-field">
                    {{ form_widget(form.ville) }}
                    {{ form_label(form.ville) }}
                </div>

                {{ form_errors(form.telephone) }}
                <div class="input-field">
                    {{ form_widget(form.telephone) }}
                    {{ form_label(form.telephone) }}
                </div>
            </div>

            {% if is_granted('ROLE_ADMIN') %}
                <div class="card-panel">
                    <h3>Rôles</h3>

                    {{ form_errors(form.roles) }}
                    <div class="input-field">
                        {{ form_widget(form.roles) }}
                        {{ form_label(form.roles) }}
                    </div>
                    <br/>
                </div>
            {% endif %}

            {{ form_widget(form._token) }}
            <input type="submit" class="btn" value="Valider les modifications"/>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script language="JavaScript" type="text/javascript">
        $(document).ready(function () {
            // Activer le select multiple
            $('select').material_select();

            // Design des checkboxes du select multiple
            $('input:checkbox').addClass('filled-in');

            // Définition du DatePicker
            $.extend(jQuery.fn.pickadate.defaults, {
                // Chaînes de caractères et traductions
                monthsFull: ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'],
                monthsShort: ['Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec'],
                weekdaysFull: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],

                // Boutons
                today: 'Aujourd\'hui',
                clear: 'Effacer',
                close: 'Fermer',

                // Formats
                firstDay: 1,
                format: 'dd mmmm yyyy',
                formatSubmit: 'dd mmmm yyyy',
                hiddenName: true,

                // Labels d'accessibilité
                labelMonthNext: "Mois suivant",
                labelMonthPrev: "Mois précédent",
                labelMonthSelect: "Sélectionner un mois",
                labelYearSelect: "Sélectionner une année"
            });

            $('.datepicker').pickadate({
                // Listes déroulantes
                selectMonths: true,
                selectYears: 100,

                // Boutons
                today: '',

                // Dates limites
                max: new Date()
            });
        });

        function confirmerSuppression() {

            if (confirm("Êtes-vous sur de vouloir supprimer votre avatar actuel ?")) {
                try {
                    xhrCom = new ActiveXObject("Microsoft.XMLHTTP");    // tenter IE
                }
                catch (e)    // en cas d'échec
                {
                    xhrCom = new XMLHttpRequest();    // autres navigateurs
                }

                xhrCom.onreadystatechange = function () {
                    if (xhrCom.readyState == 4 && xhrCom.status == 200) {
                        location.reload();
                    }
                }
                xhrCom.open("GET", "{{ path('gatsun_website_utilisateur_supprimer_avatar') }}", true);
                xhrCom.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhrCom.send();
            }

            return false;
        }
    </script>
{% endblock %}