{% extends "::base.html.twig" %}
{% block title %}Modifier une émission &ndash; {{ parent() }}{% endblock %}
{% block body %}
    <section>
        <h1>Modifier une émission</h1>
        {{ form_start(form) }}

        <div class="card-panel">
            <h3>Informations</h3>
            {{ form_errors(form.nom) }}
            <div class="input-field">
                {{ form_widget(form.nom) }}
                {{ form_label(form.nom) }}
            </div>

            {{ form_errors(form.description) }}
            <div class="input-field">
                {{ form_widget(form.description) }}
                {{ form_label(form.description) }}
            </div>
        </div>

        <div class="card-panel">
            <h3>Images</h3>
            {{ form_label(form.fichierVignette) }}
            <aside><strong>Note :</strong> La vignette doit avoir une résolution de 400 × 400.</aside>
            {{ form_errors(form.fichierVignette) }}
            {{ form_widget(form.fichierVignette) }}

            {{ form_label(form.fichierBandeau) }}
            <aside><strong>Note :</strong> Le bandeau doit avoir une résolution de 1280 × 475.</aside>
            {{ form_errors(form.fichierBandeau) }}
            {{ form_widget(form.fichierBandeau) }}
        </div>

        <div class="card-panel">
            <h3>Diffusion</h3>
            {{ form_errors(form.active) }}
            <div class="input-field">
                {{ form_widget(form.active) }}
                {{ form_label(form.active) }}
            </div>
            <div id="horaire">
                {% spaceless %}
                    {{ form_errors(form.jour) }}
                    <div class="input-field inline-field">
                        {{ form_widget(form.jour) }}
                    </div>

                    <span>, de </span>

                    {{ form_errors(form.heureDebut) }}
                    <div class="input-field inline-field">
                        {{ form_widget(form.heureDebut) }}
                    </div>

                    <span> à </span>

                    {{ form_errors(form.heureFin) }}
                    <div class="input-field inline-field">
                        {{ form_widget(form.heureFin) }}
                    </div>
                {% endspaceless %}
            </div>
        </div>

        <div class="card-panel">
            <h3>Animation</h3>
            {{ form_errors(form.presentateurs) }}
            <div class="input-field">
                {{ form_widget(form.presentateurs) }}
                {{ form_label(form.presentateurs) }}
            </div>

        </div>

        {{ form_widget(form._token) }}

        <button type="submit" class="btn waves-effect waves-light green">
            <i class="material-icons left">done</i>
            Modifier
        </button>

        {{ form_end(form) }}

    </section>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/formulaireEmission.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/modifierEmission.css') }}"/>
{% endblock %}