{% extends "::base.html.twig" %}
{% block title %}{{ emission.nom }} &ndash; {{ parent() }}{% endblock %}
{% block body %}
    <section>
        <div class="center-align">
            <img src="{{ emission.bandeau != null ? vich_uploader_asset(emission, 'fichierBandeau') : asset('images/defaut/emission.png') }}"
                 alt="{{ emission.nom }}" title="{{ emission.nom }}"/>
            <p>
                {{ emission.description }}
            </p>
        </div>

        <div class="row">
            <div class="col s12 m12 l6">
                <div class="card-panel">
                    <h4>Informations</h4>
                    {% if emission.active %}
                        Diffusée tous les {{ emission.jour.libelle|lower }}s
                        de {{ emission.heureDebut|date('H\\hi') }}
                        à {{ emission.heureFin|date('H\\hi') }}.
                    {% else %}
                        Cette émission n'est plus à l'antenne.
                    {% endif %}
                    {% if emission.presentateurs|length > 0 %}
                        <div id="presentateurs">
                            <h5>Présentée par :</h5>
                            {% for utilisateur in emission.presentateurs %}
                                <div class="truncate">
                                    <a class="waves-effect"
                                       href="{{ path('gatsun_website_utilisateur', {'nom' : utilisateur.username}) }}">
                                        <img src="{{ utilisateur.avatar ? vich_uploader_asset(utilisateur, "fichierAvatar") : asset("images/defaut/default.png") }}"
                                             alt="Avatar de {{ utilisateur.username }}" class="circle"/>
                                        {{ utilisateur.username }}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if app.user in emission.presentateurs or is_granted('ROLE_ADMIN') %}
                        <div class="center-align">
                            <a href="{{ path('gatsun_website_emission_modifier', { 'id': emission.id }) }}"
                               class="waves-effect waves-light btn">
                                <i class="material-icons left">mode_edit</i>
                                Modifier l'émission
                            </a>
                            <a href="{{ path('gatsun_website_publication_ajouter') }}"
                               class="waves-effect waves-light btn green">
                                <i class="material-icons left">add</i>
                                Ajouter un article
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col s12 m12 l6">
                {% for publication in publications %}
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ publication.image ? vich_uploader_asset(publication, "fichierImage") : (publication.emission ? (publication.emission.bandeau ? vich_uploader_asset(publication.emission, "fichierBandeau") : asset("images/defaut/emission.png")) : asset("images/defaut/news.png")) }}">
                            <span class="card-title activator">{{ publication.titre }}</span>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ publication.titre }}<i
                                    class="material-icons right">close</i></span>
                            <aside>
                                <i class="material-icons tiny">account_circle</i> {{ publication.utilisateur.username }}
                                <i class="material-icons tiny">access_time</i>
                                <time class="date" datetime="{{ publication.date|date('Y-d-m') }}+02:00">
                                    {{ publication.date|date('d/m/Y, H:i') }}
                                </time>
                            </aside>
                            <p>
                                {% spaceless %}
                                    {{ publication.contenu|code|striptags|slice(0, 255) }}
                                    {% if publication.contenu|length > 255 %}
                                        …
                                    {% endif %}
                                {% endspaceless %}
                            </p>

                            <div class="card-action">
                                <a href="{{ path('gatsun_website_publication', {'id': publication.id}) }}">
                                    {% if publication.contenu|length > 255 %}
                                        Suite et commentaires
                                    {% else %}
                                        Commentaires
                                    {% endif %}
                                </a>
                                {% if is_granted('ROLE_ADMIN') or publication.utilisateur == app.user %}
                                    <a href="{{ path('gatsun_website_publication_supprimer', {'id': publication.id}) }}">
                                        Supprimer
                                    </a>
                                    <a href="{{ path('gatsun_website_publication_modifier', {'id': publication.id}) }}">
                                        Modifier
                                    </a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="card-panel">
                        Pas de publications.
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" media="screen" type="text/css" href="{{ asset('css/emission.css') }}"/>
        {% endblock %}