{% extends "::base.html.twig" %}
{% block title %}Ajouter une vignette &ndash; {{ parent() }}{% endblock %}
{% block body %}
	<section class="panel panel-default">
		<div class="panel-heading">
			<h1>Ajouter une vignette</h1>
		</div>
		<form class="panel-body" method="post" {{ form_enctype(form) }}>
			<p>
				{{ form_errors(form.titre) }}
				<div class="input-group">
					<label for="form_titre" class="input-group-addon">
						<i class="fa fa-tag fa-fw"></i>
					</label>
					{{ form_widget(form.titre, { 'attr': {'placeholder': 'Titre', 'class' : 'form-control'} } ) }}
				</div>
			</p>
			<p>
				{{ form_errors(form.description) }}
				<div class="input-group">
					<label for="form_description" class="input-group-addon">
						<i class="fa fa-pencil fa-fw"></i>
					</label>
					{{ form_widget(form.description, { 'attr': {'placeholder': 'Description', 'class' : 'form-control'} } ) }}
				</div>
			</p>
			<p>
				{{ form_errors(form.lien) }}
				<div class="input-group">
					<label for="form_lien" class="input-group-addon">
						<i class="fa fa-link fa-fw"></i>
					</label>
					{{ form_widget(form.lien, { 'attr': {'placeholder': 'Lien', 'class' : 'form-control'} } ) }}
				</div>
			</p>
			<p>
				{{ form_errors(form.fichier) }}
				<div class="input-group">
					<label for="form_fichier" class="input-group-addon">
						<i class="fa fa-picture-o fa-fw"></i>
					</label>
					{{ form_widget(form.fichier, { 'attr': {'placeholder': 'Image', 'class' : 'form-control'} }) }}
				</div>
			</p>
			<div class="alert alert-info"><strong>Note : </strong> L'image doit avoir un ratio 16/9 et une taille minimale de 640&times;360 pixels.</div>
			
			{{ form_widget(form._token) }}
			<p>
				<input type="submit" class="btn btn-default btn-primary" value="Ajouter" />
			</p>
		</form>
		
	</section>
	
{% endblock %}

{% block stylesheets %}
<!-- <link rel="stylesheet" media="screen" type="text/css" href="{{ asset('css/ajouterPublication.css') }}" /> -->
{% endblock %}