{% extends "::base.html.twig" %}
{% block title %}Modifier une vignette &ndash; {{ parent() }}{% endblock %}
{% block body %}
    <section>
        <h1>Modifier une vignette</h1>
        {{ form_start(form) }}

        <div class="card-panel">
            {{ form_errors(form.titre) }}
            <div class="input-field">
                {{ form_widget(form.titre) }}
                {{ form_label(form.titre) }}
            </div>

            {{ form_errors(form.description) }}
            <div class="input-field">
                {{ form_widget(form.description) }}
                {{ form_label(form.description) }}
            </div>

            {{ form_errors(form.lien) }}
            <div class="input-field">
                {{ form_widget(form.lien) }}
                {{ form_label(form.lien) }}
            </div>

            {{ form_label(form.fichierImage) }}
            <aside><strong>Note :</strong> La vignette doit avoir une résolution de 1280 × 475.</aside>
            {{ form_errors(form.fichierImage) }}
            {{ form_widget(form.fichierImage) }}
        </div>

        {{ form_widget(form._token) }}

        <button type="submit" class="btn waves-effect waves-light green">
            <i class="material-icons left">done</i>
            Modifier
        </button>

        {{ form_end(form) }}

    </section>

{% endblock %}

{% block stylesheets %}
    <!-- <link rel="stylesheet" media="screen" type="text/css" href="{{ asset('css/ajouterPublication.css') }}" /> -->
{% endblock %}