{% extends "::base.html.twig" %}
{% block title %}Modifier une publication &ndash; {{ parent() }}{% endblock %}
{% block body %}
    <section>
        <h1>Modifier une publication</h1>
        {{ form_start(form) }}
        <div class="card-panel">
            {{ form_errors(form.emission) }}
            <div class="input-field">
                {{ form_widget(form.emission) }}
                {{ form_label(form.emission) }}
            </div>

            {{ form_errors(form.titre) }}
            <div class="input-field">
                {{ form_widget(form.titre) }}
                {{ form_label(form.titre) }}
            </div>

            {{ form_label(form.fichierImage) }}
            <aside><strong>Note :</strong> L'image doit avoir une résolution de 830 × 300.</aside>
            {{ form_errors(form.fichierImage) }}
            {{ form_widget(form.fichierImage) }}

            {# Boutons BBCode #}
            <div class="inline-block">
                <button class="waves-effect waves-teal btn-flat" onClick="bbcode('[b]', '[/b]');return(false)">
                    <i class="material-icons">format_bold</i>
                </button>
                <button class="waves-effect waves-teal btn-flat" onClick="bbcode('[i]', '[/i]');return(false)">
                    <i class="material-icons">format_italic</i>
                </button>
                <button class="waves-effect waves-teal btn-flat" onClick="bbcode('[u]', '[/u]');return(false)">
                    <i class="material-icons">format_underlined</i>
                </button>
                <button class="waves-effect waves-teal btn-flat" onClick="bbcode('[s]', '[/s]');return(false)">
                    <i class="material-icons">format_strikethrough</i>
                </button>
            </div>
            <div class="inline-block">
                <button class="waves-effect waves-teal btn-flat"
                        onClick="bbcode('[left]', '[/left]');return(false)">
                    <i class="material-icons">format_align_left</i>
                </button>
                <button class="waves-effect waves-teal btn-flat"
                        onClick="bbcode('[center]', '[/center]');return(false)">
                    <i class="material-icons">format_align_center</i>
                </button>
                <button class="waves-effect waves-teal btn-flat"
                        onClick="bbcode('[right]', '[/right]');return(false)">
                    <i class="material-icons">format_align_right</i>
                </button>
                <button class="waves-effect waves-teal btn-flat"
                        onClick="bbcode('[justified]', '[/justified]');return(false)">
                    <i class="material-icons">format_align_justify</i>
                </button>
            </div>
            <div class="inline-block">
                <button class="waves-effect waves-teal btn-flat"
                        onClick="bbcode('[list][*]', '\n[/list]');return(false)">
                    <i class="material-icons">format_list_bulleted</i>
                </button>
                <button class="waves-effect waves-teal btn-flat"
                        onClick="bbcode('[list=1][*]', '\n[/list]');return(false)">
                    <i class="material-icons">format_list_numbered</i>
                </button>
                <button class="waves-effect waves-teal btn-flat" onClick="bbcode('[hr]', '');return(false)">
                    <i class="material-icons">remove</i>
                </button>
            </div>
            <div class="inline-block">
                <button class="waves-effect waves-teal btn-flat"
                        onClick="bbcode('[quote=Auteur]', '[/quote]');return(false)">
                    <i class="material-icons">format_quote</i>
                </button>
                <button class="waves-effect waves-teal btn-flat"
                        onClick="bbcode('[table][tr][td]', '[/td][/tr][/table]');return(false)">
                    <i class="material-icons">grid_on</i>
                </button>
            </div>
            <div class="inline-block">
                <button class="waves-effect waves-teal btn-flat"
                        onClick="bbcode('[img]', '[/img]');return(false)">
                    <i class="material-icons">insert_photo</i>
                </button>
                <button class="waves-effect waves-teal btn-flat"
                        onClick="bbcode('[url=http://url/]', '[/url]');return(false)">
                    <i class="material-icons">insert_link</i>
                </button>
                <button class="waves-effect waves-teal btn-flat"
                        onClick="bbcode('[video]', '[/video]');return(false)">
                    <i class="material-icons">movie_creation</i>
                </button>
            </div>
            <div class="inline-block">
                <button class="waves-effect waves-teal btn-flat"
                        onClick="bbcode('[size=Valeurpx]', '[/size]');return(false)">
                    <i class="material-icons">format_size</i>
                </button>
                <button class="waves-effect waves-teal btn-flat"
                        onClick="bbcode('[color=Nom]', '[/color]');return(false)">
                    <i class="material-icons">format_color_text</i>
                </button>
                <button class="waves-effect waves-teal btn-flat"
                        onClick="bbcode('[font=Nom]', '[/font]');return(false)">
                    <i class="material-icons">font_download</i>
                </button>
            </div>
            <div class="inline-block">
                <button class="waves-effect waves-teal btn-flat"
                        onClick="bbcode('[sub]', '[/sub]');return(false)">
                    A<sub>x</sub>
                </button>
                <button class="waves-effect waves-teal btn-flat"
                        onClick="bbcode('[sup]', '[/sup]');return(false)">
                    A<sup>x</sup>
                </button>
            </div>
            <div class="inline-block">
                <button id="aide" class="waves-effect waves-teal btn-flat">
                    <i class="material-icons">help_outline</i>
                </button>
            </div>

            <div class="row">
                <div class="col s9 m9 l9">
                    {{ form_errors(form.contenu) }}
                    <div class="input-field">
                        {{ form_widget(form.contenu) }}
                        {{ form_label(form.contenu) }}
                    </div>
                </div>

                <div id="smileys" class="col s3 m3 l3">
                    <img src="{{ asset('images/smileys/tres_heureux.png') }}" title="Très Heureux" alt=":)"
                         onClick="smilies(':D');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/sourire.gif') }}" title="Sourire" alt=":D"
                         onClick="smilies(':)');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/triste.gif') }}" title="Triste" alt=":("
                         onClick="smilies(':(');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/surpris.gif') }}" title="Surpris" alt=":o"
                         onClick="smilies(':o');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/choque.gif') }}" title="Choqué" alt=":shock:"
                         onClick="smilies(':shock:');return(false)"/>
                    <img src="{{ asset('images/smileys/cool.gif') }}" title="Cool" alt="8)"
                         onClick="smilies('8)');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/rire.gif') }}" title="Rire" alt="lol"
                         onClick="smilies(':lol:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/agressif.gif') }}" title="Agressif" alt=":x"
                         onClick="smilies(':x');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/langue.gif') }}" title="Tire la langue" alt=":P"
                         onClick="smilies(':P');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/oups.gif') }}" title="Embarassé" alt=":oops:"
                         onClick="smilies(':oops:');return(false)"/>
                    <img src="{{ asset('images/smileys/pleure.gif') }}" title="Pleure" alt=":cry:"
                         onClick="smilies(':cry:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/fache.gif') }}" title="F&acirc;ché" alt=":evil:"
                         onClick="smilies(':evil:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/diable.gif') }}" title="Diable" alt=":twisted:"
                         onClick="smilies(':twisted:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/yeux_roulants.gif') }}" title="Yeux roulants" alt=":roll:"
                         onClick="smilies(':roll:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/clin_oeil.gif') }}" title="Clin d'œil" alt=";)"
                         onClick="smilies(';)');return(false)"/>
                    <img src="{{ asset('images/smileys/exclamation.gif') }}" title="Exclamation" alt=":!:"
                         onClick="smilies(':!:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/interrogation.gif') }}" title="Interrogation" alt=":?:"
                         onClick="smilies(':?:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/idee.png') }}" title="Idée" alt=":idea:"
                         onClick="smilies(':idea:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/fleche.gif') }}" title="Flèche" alt=":arrow:"
                         onClick="smilies(':arrow:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/neutre.gif') }}" title="Neutre" alt=":|"
                         onClick="smilies(':|');return(false)"/>
                    <img src="{{ asset('images/smileys/face.png') }}" title="Face" alt=":face:"
                         onClick="smilies(':face:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/etoile.png') }}" title="Etoile" alt=":star:"
                         onClick="smilies(':star:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/suspect.gif') }}" title="Suspect" alt=":suspect:"
                         onClick="smilies(':suspect:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/coeur.png') }}" title="Cœur" alt=":heart:"
                         onClick="smilies(':heart:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/non.gif') }}" title="Non" alt=":no:"
                         onClick="smilies(':no:');return(false)"/>
                    <img src="{{ asset('images/smileys/@.png') }}" title="@" alt=":@:"
                         onClick="smilies(':@:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/cyclope.gif') }}" title="Cyclope" alt=":cyclops:"
                         onClick="smilies(':cyclops:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/clown.png') }}" title="Clown" alt=":clown:"
                         onClick="smilies(':clown:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/pirate.png') }}" title="Pirate" alt=":pirat:"
                         onClick="smilies(':pirat:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/nyah-nyah.png') }}" title="Nyah-Nyah" alt=":tongue:"
                         onClick="smilies(':tongue:');return(false)"/>
                    <img src="{{ asset('images/smileys/silence.png') }}" title="Silence" alt=":silent:"
                         onClick="smilies(':silent:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/pale.gif') }}" title="Pâle" alt=":pale:"
                         onClick="smilies(':pale:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/alien.png') }}" title="Alien" alt=":alien:"
                         onClick="smilies(':alien:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/chat.png') }}" title="Chat" alt=":cat:"
                         onClick="smilies(':cat:');return(false)"/>
                    <img src="{{ asset('images/smileys/singe.png') }}" title="Singe" alt=":monkey:"
                         onClick="smilies(':monkey:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/cochon.png') }}" title="Cochon" alt=":pig:"
                         onClick="smilies(':pig:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/lapin.png') }}" title="Lapin" alt=":rabbit:"
                         onClick="smilies(':rabbit:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/bong.gif') }}" title="Bong" alt=":bounce:"
                         onClick="smilies(':bounce:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/confus.png') }}" title="Confus" alt=":confused:"
                         onClick="smilies(':confused:');return(false)"/>
                    <img src="{{ asset('images/smileys/effraye.gif') }}" title="Effrayé" alt=":affraid:"
                         onClick="smilies(':affraid:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/basketball.gif') }}" title="BasketBall" alt=":bball:"
                         onClick="smilies(':bball:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/bravo.png') }}" title="Bravo" alt=":cheers:"
                         onClick="smilies(':cheers:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/bebe.png') }}" title="Bébé" alt=":bom:"
                         onClick="smilies(':bom:');return(false)"/>
                    <img src="{{ asset('images/smileys/bourre.png') }}" title="Bourré" alt=":drunken:"
                         onClick="smilies(':drunken:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/endormi.gif') }}" title="Endormi" alt=":sleep:"
                         onClick="smilies(':sleep:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/soleil.png') }}" title="Soleil" alt=":sunny:"
                         onClick="smilies(':sunny:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/albinos.png') }}" title="Lapin Albinos" alt=":albino:"
                         onClick="smilies(':albino:');return(false)"/>
                    <img src="{{ asset('images/smileys/cerise.png') }}" title="Cerise" alt=":cherry:"
                         onClick="smilies(':cherry:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/pere_noel.png') }}" title="Père Noël" alt=":santa:"
                         onClick="smilies(':santa:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/renne.png') }}" title="Renne" alt=":rendeer:"
                         onClick="smilies(':rendeer:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/pharaon.png') }}" title="Pharaon" alt=":farao:"
                         onClick="smilies(':farao:');return(false)"/>
                    <img src="{{ asset('images/smileys/roi.png') }}" title="Roi" alt=":king:"
                         onClick="smilies(':king:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/reine.png') }}" title="Reine" alt=":queen:"
                         onClick="smilies(':queen:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/joker.png') }}" title="Joker" alt=":joker:"
                         onClick="smilies(':joker:');return(false)"/>
                    <img src="{{ asset('images/smileys/geek.png') }}" title="Geek" alt=":geek:"
                         onClick="smilies(':geek:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/gratte.png') }}" title="Gratte" alt=":scratch"
                         onClick="smilies(':scratch:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/etudie.png') }}" title="Etudie" alt=":study:"
                         onClick="smilies(':study:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/elephant.png') }}" title="Eléphant" alt=":elephant:"
                         onClick="smilies(':elephant:');return(false)"/>
                    <img src="{{ asset('images/smileys/fleur.png') }}" title="Fleur" alt=":flower:"
                         onClick="smilies(':flower:');return(false)"/>&nbsp;
                    <img src="{{ asset('images/smileys/afro.png') }}" title="Afro" alt=":afro:"
                         onClick="smilies(':afro:');return(false)"/>
                    <img src="{{ asset('images/smileys/lol.gif') }}" title="Lol!" alt=":lol!:"
                         onClick="smilies(':lol!:');return(false)"/>
                </div>
            </div>

            {{ form_errors(form.podcast) }}
            <div class="input-field">
                {{ form_widget(form.podcast) }}
                {{ form_label(form.podcast) }}
            </div>
        </div>
        {{ form_widget(form._token) }}

        <button type="submit" class="btn waves-effect waves-light green">
            <i class="material-icons left">done</i>
            Modifier
        </button>

        {{ form_end(form) }}

    </section>

    {% include "::aideFormatage.html.twig" %}

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function bbcode(bbdebut, bbfin) {
            var input = document.getElementById("form_contenu");
            input.focus();
            if (typeof document.selection != "undefined") {
                var range = document.selection.createRange();
                var insText = range.text;
                range.text = bbdebut + insText + bbfin;
                range = document.selection.createRange();
                if (insText.length == 0) {
                    range.move("character", -bbfin.length);
                }
                else {
                    range.moveStart("character", bbdebut.length + insText.length + bbfin.length);
                }
                range.select();
            }
            else if (typeof input.selectionStart != "undefined") {
                var start = input.selectionStart;
                var end = input.selectionEnd;
                var insText = input.value.substring(start, end);
                input.value = input.value.substr(0, start) + bbdebut + insText + bbfin + input.value.substr(end);
                var pos;
                if (insText.length == 0) {
                    pos = start + bbdebut.length;
                }
                else {
                    pos = start + bbdebut.length + insText.length + bbfin.length;
                }
                input.selectionStart = pos;
                input.selectionEnd = pos;
            }
            else {
                var pos;
                var re = new RegExp("^[0-9]{0,3}$");
                while (!re.test(pos)) {
                    pos = prompt("insertion (0.." + input.value.length + "):", "0");
                }
                if (pos > input.value.length) {
                    pos = input.value.length;
                }
                var insText = prompt("Veuillez taper le texte");
                input.value = input.value.substr(0, pos) + bbdebut + insText + bbfin + input.value.substr(pos);
            }
        }

        function smilies(img) {
            document.getElementById("form_contenu").value += "" + img + "";
        }

        $(document).ready(function () {
            $('select').material_select();

            // Gestion de l'affichage de l'aide
            $(document).on('click', "#aide", function () {
                // Ouverture de la boîte de dialogue
                $("#aideFormatage").openModal();
            });
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" media="screen" type="text/css" href="{{ asset('css/ajouterPublication.css') }}"/>
{% endblock %}