{% extends "::base.html.twig" %}
{% block title %}{{ publication.titre }} &ndash; {{ parent() }}{% endblock %}
{% block body %}
	<section class="panel panel-default">
		<div class="panel-heading">
	    	<h1>{{ publication.titre }}</h1>
	    </div>
	    <div id="publication" class="panel-body media">
	    	<div class="pull-left">
	    		<img class="media-object" src="{{ asset(publication.vignette) }}" id="vignette" />
	    	</div>
	    	<div class="media-body">
		    	{{ publication.contenu|striptags|code|raw|nl2br }}
		    	
			    {% if publication.podcast != '' %}
			    <p id="podcast">
			    </p>
			    <aside>
			    	Si le lecteur ne s'affiche pas : <a href="{{ publication.podcast }}">Lien direct</a>
			    </aside>
		    	{% endif %}
		    </div>
	    </div>
	</section>
	<section class="panel panel-default">
		<div class="panel-heading">
			<h1>Commentaires</h1>
		</div>
	    <div class="panel-body">
	    	<div id="alert"></div>
			{% if app.user == null %}
				<p><em class="avertissement">Inscrivez-vous ou connectez-vous pour publier des commentaires !</em></p>
			{% else %}
				<form action="" method="post" id="texteCommentaire">
					{# Boutons BBCode #}
					<p class="btn-toolbar" role="toolbar">
						<div class="btn-group">
							<button class="btn btn-default btn-xs" onClick="javascript:bbcode('[b]', '[/b]');return(false)"><i class="fa fa-bold fa-fw"></i></button>
							<button class="btn btn-default btn-xs"onClick="javascript:bbcode('[i]', '[/i]');return(false)"><i class="fa fa-italic fa-fw"></i></button>
							<button class="btn btn-default btn-xs"onClick="javascript:bbcode('[u]', '[/u]');return(false)"><i class="fa fa-underline fa-fw"></i></button>
							<button class="btn btn-default btn-xs"onClick="javascript:bbcode('[s]', '[/s]');return(false)"><i class="fa fa-strikethrough fa-fw"></i></button>
						</div>
						<div class="btn-group">
							<button class="btn btn-default btn-xs" onClick="javascript:bbcode('[left]', '[/left]');return(false)"><i class="fa fa-align-left fa-fw"></i></button>
							<button class="btn btn-default btn-xs" onClick="javascript:bbcode('[center]', '[/center]');return(false)"><i class="fa fa-align-center fa-fw"></i></button>
							<button class="btn btn-default btn-xs" onClick="javascript:bbcode('[right]', '[/right]');return(false)"><i class="fa fa-align-right fa-fw"></i></button>
							<button class="btn btn-default btn-xs" onClick="javascript:bbcode('[justified]', '[/justified]');return(false)" ><i class="fa fa-align-justify fa-fw"></i></button>
						</div>
						<div class="btn-group">
							<button class="btn btn-default btn-xs" onClick="javascript:bbcode('[list][*]', '\n[/list]');return(false)"><i class="fa fa-list-ul fa-fw"></i></button>
							<button class="btn btn-default btn-xs" onClick="javascript:bbcode('[list=1][*]', '\n[/list]');return(false)"><i class="fa fa-list-ol fa-fw"></i></button>
							<button class="btn btn-default btn-xs" onClick="javascript:bbcode('[hr]', '');return(false)"><i class="fa fa-minus fa-fw"></i></button>
						</div>
						<div class="btn-group">
							<button class="btn btn-default btn-xs" onClick="javascript:bbcode('[quote=Auteur]', '[/quote]');return(false)"><i class="fa fa-quote-left fa-fw"></i></button>
							<button class="btn btn-default btn-xs" onClick="javascript:bbcode('[table][tr][td]', '[/td][/tr][/table]');return(false)"><i class="fa fa-table fa-fw"></i></button>
						</div>
						<div class="btn-group">
							<button class="btn btn-default btn-xs" onClick="javascript:bbcode('[img]', '[/img]');return(false)"><i class="fa fa-picture-o fa-fw"></i></button>
							<button class="btn btn-default btn-xs" onClick="javascript:bbcode('[url=http://url/]', '[/url]');return(false)"><i class="fa fa-link fa-fw"></i></button>
							<button class="btn btn-default btn-xs" onClick="javascript:bbcode('[video]', '[/video]');return(false)"><i class="fa fa-video-camera fa-fw"></i></button>
						</div>
						<div class="btn-group">
							<button class="btn btn-default btn-xs" onClick="javascript:bbcode('[size=Valeurpx]', '[/size]');return(false)"><i class="fa fa-text-height fa-fw"></i></button>
							<button class="btn btn-default btn-xs" onClick="javascript:bbcode('[color=Nom]', '[/color]');return(false)"><i class="fa fa-paint-brush fa-fw"></i></span></button>
							<button class="btn btn-default btn-xs" onClick="javascript:bbcode('[font=Nom]', '[/font]');return(false)"><i class="fa fa-font fa-fw"></i></button>
						</div>
						<div class="btn-group">
							<button class="btn btn-default btn-xs" onClick="javascript:bbcode('[sub]', '[/sub]');return(false)"><i class="fa fa-subscript fa-fw"></i></button>
							<button class="btn btn-default btn-xs" onClick="javascript:bbcode('[sup]', '[/sup]');return(false)"><i class="fa fa-superscript fa-fw"></i></button>
						</div>
						<div class="btn-group">
							<button class="btn btn-default btn-xs" onClick='window.open("{{ path('gatsun_website_aide_bbcode') }}","","width=720,height=400");'><i class="fa fa-info fa-fw"></i></button>
						</div>
					</p>
					<br />
					<div class="input-group">
						<textarea class="form-control" id="texte" onkeypress="gestion_entree(event);" placeholder="Commentaire&hellip;" required /></textarea>
						<span class="input-group-btn">
							<input class="btn btn-default btn-primary" type="button" onClick="commenter()" value="Envoyer" id="boutonCommenter" />
						</span>
					</div>
				</form>
			{% endif %}
			<div id="commentaires">
				{{ render(controller('GatsunWebsiteBundle:Ajax:rafraichirCommentaires', { 'page': publication.id } )) }}
			</div>
		</div>
	</section>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
var timerCommentaires;
var reponseCommentaires;

function demarrerLecteur()
{
	if(navigator.userAgent.indexOf("Opera") != -1 || navigator.userAgent.indexOf("OPR") != -1)
	{
		document.getElementById("podcast").innerHTML = "<embed type=\"application/x-vlc-plugin\" pluginspage=\"http://www.videolan.org\" width=\"100%\" height=\"34px\" target=\"{{publication.podcast}}\" allowfullscreen=\"false\" controls=\"true\" bgcolor=\"#EEEEEE\" id=\"vlc\"></embed>";
	}
	else
	{
		document.getElementById("podcast").innerHTML = "<audio controls=\"controls\"> <source src=\"{{publication.podcast}}\" type=\"audio/mpeg\" /> <embed height=\"34\" width=\"100%\" src=\"{{publication.podcast}}\"> </audio>";
	}
}

function rafraichirCommentaires() 
{
	try 
	{
		xhrComs = new ActiveXObject("Microsoft.XMLHTTP");	// tenter IE
	}
	catch(e)	// en cas d'échec
	{
		xhrComs = new XMLHttpRequest();	// autres navigateurs
	}

	xhrComs.onreadystatechange = function() 
	{
		if(xhrComs.readyState == 4 && xhrComs.status == 200)
		{
			var reponse = xhrComs.responseText;
			if(reponse != reponseCommentaires)
			{
				document.getElementById("commentaires").innerHTML = reponse;
				reponseCommentaires = reponse;
			}
		}
	}
	
	xhrComs.open("GET", "{{ path('gatsun_website_ajax_commentaires_rafraichir', { 'page': publication.id }) }}", true);
	xhrComs.send(null);
}

function commenter()
{
	try 
	{
		xhrCom = new ActiveXObject("Microsoft.XMLHTTP");	// tenter IE
	}
	catch(e)	// en cas d'échec
	{
		xhrCom = new XMLHttpRequest();	// autres navigateurs
	}
	
	xhrCom.onreadystatechange = function() 
	{
		if(xhrCom.readyState == 4 && xhrCom.status == 200) 
		{
			rafraichirCommentaires();
			document.getElementById("texte").disabled = false;
			document.getElementById("boutonCommenter").disabled = false;
		}
	}
	var texte = document.getElementById("texte").value;
	document.getElementById("texte").disabled = true;
	document.getElementById("boutonCommenter").disabled = true;
	document.getElementById("texte").value = "";
	xhrCom.open("POST", "{{ path('gatsun_website_ajax_commentaires_ajouter') }}", true);
	xhrCom.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
	xhrCom.send("texte=" + encodeURIComponent(texte) + "&page={{ publication.id }}");
}

function gestion_entree(e) {
    var e = e || window.event;
    var k = e.keyCode || e.which;
    if (k == 13 && !e.shiftKey) {
            commenter();
            return false;
    }
    return true;
}

function autoDefil ()
{
	timerCommentaires = window.setInterval(function() { rafraichirCommentaires() }, 5000);
}

function moderer(id)
{
	// Popup de confirmation
	if(confirm('Êtes-vous sur de vouloir modérer ce commentaire ?'))
	{
		// Requête AJAX
		$.ajax({
	        url: "{{ path('gatsun_website_ajax_commentaires_moderer') }}?id=" + id + "&page={{ publication.id }}",
	        dataType: 'html',
	        cache: false
	    })
	    .done(function(reponse) {
	    	// Rafraichissement des commentaires avec les nouvelles modifications
	        rafraichirCommentaires();

	        // Message : Succès !
	        $('#alert').html('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Terminé !</strong> Le commentaire sélectionnée a été correctement supprimé.</div>');
	    })
	    .fail(function()
	    {
	    	// Message : Erreur !
	    	$('#alert').html('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Oups !</strong> Une erreur s\'est produite lors de la suppression du commentaire.</div>');
	    });
	}
}

function supprimer(id)
{
	// Popup de confirmation
	if(confirm('Êtes-vous sur de vouloir supprimer votre commentaire ?'))
	{
		// Requête AJAX
		$.ajax({
	        url: "{{ path('gatsun_website_ajax_commentaires_supprimer') }}?id=" + id + "&page={{ publication.id }}",
	        dataType: 'html',
	        cache: false
	    })
	    .done(function(reponse) {
	    	// Rafraichissement des commentaires avec les nouvelles modifications
	        rafraichirCommentaires();

	        // Message : Succès !
	        $('#alert').html('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Terminé !</strong> Votre commentaire a été correctement supprimé.</div>');
	    })
	    .fail(function()
	    {
	    	// Message : Erreur !
	    	$('#alert').html('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Oups !</strong> Une erreur s\'est produite lors de la suppression de votre commentaire.</div>');
	    });
	}
}

/*** BBCODE ***/
function bbcode ( bbdebut, bbfin )
{
	var input = document.getElementById ( "texte" );
	input.focus ( );
	if( typeof document.selection != "undefined" )
	{
		var range = document.selection.createRange ( );
		var insText = range.text;
		range.text = bbdebut + insText + bbfin;
		range = document.selection.createRange ( );
		if ( insText.length == 0 )
		{
			range.move ( "character", -bbfin.length );
		}
		else
		{
			range.moveStart ( "character", bbdebut.length + insText.length + bbfin.length );
		}
		range.select ( );
	}
	else if ( typeof input.selectionStart != "undefined" )
	{
		var start = input.selectionStart;
		var end = input.selectionEnd;
		var insText = input.value.substring ( start, end );
		input.value = input.value.substr ( 0, start ) + bbdebut + insText + bbfin + input.value.substr ( end );
		var pos;
		if ( insText.length == 0 )
		{
			pos = start + bbdebut.length;
		}
		else
		{
			pos = start + bbdebut.length + insText.length + bbfin.length;
		}
		input.selectionStart = pos;
		input.selectionEnd = pos;
	}
	else
	{
		var pos;
		var re = new RegExp ( "^[0-9]{0,3}$" );
		while ( !re.test ( pos ) )
		{
			pos = prompt ( "insertion (0.." + input.value.length + "):", "0" );
		}
		if ( pos > input.value.length )
		{
			pos = input.value.length;
		}
		var insText = prompt ( "Veuillez taper le texte" );
		input.value = input.value.substr ( 0, pos ) + bbdebut + insText + bbfin + input.value.substr ( pos );
	}
}
</script>
<script language="javascript">
	demarrerLecteur();					
	rafraichirCommentaires();
	autoDefil();
</script>
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" media="screen" type="text/css" href="{{ asset('css/publication.css') }}" />
{% endblock %}