{% extends "::base.html.twig" %}
{% block title %}Accueil &ndash; {{ parent() }}{% endblock %}
{% block body %}
    <div id="carrousel">
        {% for vignette in listeVignettes %}
            <div class="vignette">
                <a href="{{ vignette.lien }}">
                    <img src="{{ asset('images/vignettes/' ~ vignette.image) }}">
                </a>

                <div class="caption center-align">
                    <h5>
                        <a class="white-text" href="{{ vignette.lien }}">
                            {{ vignette.titre }}
                        </a>
                    </h5>
                    <h6 class="light grey-text text-lighten-3">{{ vignette.description }}</h6>
                </div>
            </div>
        {% endfor %}
    </div>

    <section class="section">
        <div class="row">
            <div class="col s12 m12 l6">
                <h4>Actualités</h4>
                {% if is_granted('ROLE_MEMBRE') %}
                    <a href="{{ path('gatsun_website_publication_ajouter') }}"
                       class="waves-effect waves-light btn green">
                        <i class="material-icons left">add</i>
                        Ajouter un article
                    </a>
                {% endif %}

                {% for publication in publications %}
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ asset(publication.vignette) }}">
                            <span class="card-title activator">{{ publication.titre }}</span>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ publication.titre }}<i
                                    class="material-icons right">close</i></span>
                            <aside>Par {{ publication.utilisateur.username }},
                                le {{ publication.date|date('d/m/Y') }}</aside>
                            <p>
                                {% spaceless %}
                                    {{ publication.contenu|code|striptags|slice(0, 255) }}
                                    {% if publication.contenu|length > 255 %}
                                        …
                                    {% endif %}
                                {% endspaceless %}
                            </p>

                            <div class="card-action">
                                <a href="{{ path('gatsun_website_publication', {'id': publication.id}) }}">
                                    {% if publication.contenu|length > 255 %}
                                        Suite et commentaires
                                    {% else %}
                                        Commentaires
                                    {% endif %}
                                </a>
                                {% if is_granted('ROLE_ADMIN') or publication.utilisateur == app.user %}
                                    <a href="{{ path('gatsun_website_publication_supprimer', {'id': publication.id}) }}">
                                        Supprimer
                                    </a>
                                    <a href="{{ path('gatsun_website_publication_modifier', {'id': publication.id}) }}">
                                        Modifier
                                    </a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                {% else %}
                    Pas de publications.
                {% endfor %}
            </div>

            <div class="col s12 m12 l6">
                <h4>À suivre</h4>

                <div class="row">
                    {% for emission in listeEmissions %}
                        <div class="col s6 m6 l6">
                            <div class="card hoverable">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator"
                                         src="{{ emission.vignette ? asset(emission.vignette) : asset('images/header.png') }}">
                            <span class="card-title activator">
                                {% if "now"|date('N') != emission.jour.id %}
                                    {{ emission.jour.libelle }},
                                {% elseif date() >= emission.heureDebut and date() <= emission.heureFin %}
                                    <strong>EN DIRECT</strong>
                                {% endif %}
                                {{ emission.heureDebut|date('H\\hi') }}
                            </span>
                                </div>
                                <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{{ emission.nom }}<i
                                            class="material-icons right">close</i></span>

                                    <p>
                                        {{ emission.jour.libelle }},
                                        {{ emission.heureDebut|date('H\\hi') }}.
                                    </p>

                                    <p>{{ emission.description }}</p>

                                    <div class="card-action">
                                        <a href="{{ path('gatsun_website_emission', {'id': emission.id}) }}">L'émission</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <h4>Réseaux sociaux</h4>

                <div class="row">
                    <div class="col s6 m6 l6">
                        <div class="card-panel card-facebook">
                            <h4>Facebook</h4>
                            <a class="waves-effect waves-light btn light-blue darken-4"
                               href="https://www.facebook.com/RadioGatsun"><i class="material-icons left">thumb_up</i>J'aime</a><br/>

                            <p> {{ facebookLikes }} J'aime</p>


                        </div>
                    </div>


                    <div class="col s6 m6 l6">
                        <div class="card-panel card-twitter">
                            <h4>Twitter</h4>
                            <a href="https://twitter.com/RadioGatsun" class="twitter-follow-button"
                               data-show-screen-name="false"
                               data-dnt="true">Follow @RadioGatsun</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>

    {# Twitter #}
    <script>
        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + '://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'twitter-wjs');
    </script>

    {# Carrousel #}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#carrousel').slick({
                dots: true,
                infinite: true,
                speed: 300,
                lazyLoad: 'ondemand',
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                adaptiveHeight: true
            });
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" media="screen" type="text/css" href="{{ asset('css/accueil.css') }}"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/>
{% endblock %}