{% extends "::base.html.twig" %}
{% block title %}&Eacute;missions &ndash; {{ parent() }}{% endblock %}
{% block body %}
    <section>
        <h1>Émissions</h1>
        {% for emission in emissions %}
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="{{ path('gatsun_website_emission', {'id': emission.id}) }}">
                        <img src="{{ emission.bandeau != null ? vich_uploader_asset(emission, 'fichierBandeau') : asset('images/defaut/emission.png') }}"/>
                    </a>
                    <a class="card-title truncate white-text"
                       href="{{ path('gatsun_website_emission', {'id': emission.id}) }}">
                        {{ emission.nom }}
                        <small class="hide-on-small-only"> &ndash; {{ emission.description }}</small>
                    </a>
                </div>
            </div>

        {% else %}
            Aucune émission disponible.
        {% endfor %}
    </section>

    <section>
        <h2>Anciennes émissions</h2>
        <div class="collection hoverable">
            {% for emission in anciennesEmissions %}
                <span class="collection-item truncate">
                    <a href="{{ path('gatsun_website_emission', {'id': emission.id}) }}">{{ emission.nom }}</a>
                    <small class="hide-on-small-only"> &ndash; {{ emission.description }}</small>
                    </span>
            {% else %}
                Aucune émission disponible.
            {% endfor %}
        </div>
    </section>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" media="screen" type="text/css" href="{{ asset('css/emission.css') }}"/>
{% endblock %}