{% extends "::base.html.twig" %}
{% block title %}&Eacute;missions &ndash; {{ parent() }}{% endblock %}
{% block body %}
	<section class="panel panel-default">
        <div class="panel-heading">
           <h1>Émissions</h1>
        </div>
        <div class="panel-body">
            {% for emission in emissions %}
            <div class="media">
                <div class="media-body">
                    <h2 class="media-heading">
                        <a href="{{ path('gatsun_website_emission', {'id': emission.id}) }}">{{ emission.nom }}</a>
                    </h2>
                    {% if emission.bandeau != '' %}
                        <a href="{{ path('gatsun_website_emission', {'id': emission.id}) }}">
                            <img class="bandeau" src="{{ asset(emission.bandeau) }}" alt="{{ emission.nom }}" title="{{ emission.nom }}" />
                        </a>
                        <br />
                    {% else %}
                        {{ emission.description }}
                    {% endif %}
                </div>
            </div>
            {% else %}
            Aucune émission disponible.
            {% endfor %}
        </div>
    </section>

    <section class="panel panel-default">
        <div class="panel-heading">
           <h1>Anciennes émissions</h1>
        </div>
        <div class="panel-body">
            {% for emission in anciennesEmissions %}
            <div class="media">
                <div class="media-body">
                    <h2 class="media-heading">
                        <a href="{{ path('gatsun_website_emission', {'id': emission.id}) }}">{{ emission.nom }}</a>
                    </h2>
                    {% if emission.bandeau != '' %}
                        <img class="bandeau" src="{{ asset(emission.bandeau) }}" alt="{{ emission.nom }}" title="{{ emission.nom }}" /><br />
                    {% endif %}
                    {{ emission.description }}
                </div>
            </div>
            {% else %}
            Aucune émission disponible.
            {% endfor %}
        </div>
    </section>
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" media="screen" type="text/css" href="{{ asset('css/emission.css') }}" />
{% endblock %}