{% extends "::base.html.twig" %}
{% block title %}Programme &ndash; {{ parent() }}{% endblock %}
{% block body %}
    <section id="programme">
        <h1>Programme</h1>

        {% set jour = 0 %}
        {% for emission in listeEmissions %}
            {% if jour != emission.jour.id %}
                <h3>{{ emission.jour.libelle }}</h3>
                {% set jour = emission.jour.id %}
            {% endif %}


            <div class="card-panel">
                <img class="inline-block"
                     src="{{ emission.vignette ? asset(emission.vignette) : asset('images/header.png') }}"/>

                <div class="inline-block">
                    <h5>{{ emission.nom }}</h5>
                    <h6>{{ emission.heureDebut|date('H\\hi') }} &rarr; {{ emission.heureFin|date('H\\hi') }}</h6>

                    <p>{{ emission.description }}</p>
                </div>
            </div>

        {% endfor %}

        <p>
            <em>Planning donné à titre indicatif, les horaires peuvent changer selon la disponibilité des animateurs
                et de nouvelles émissions à venir.</em>
        </p>
    </section>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" media="screen" type="text/css" href="{{ asset('css/programme.css') }}"/>
{% endblock %}