{% extends "::base.html.twig" %}
{% block title %}Émissions &ndash; Administration &ndash; {{ parent() }}{% endblock %}
{% block body %}
    <section>
        <h1>Administration</h1>
        <h2>Émissions</h2>

        <a href="{{ path('gatsun_website_emission_ajouter') }}" class="btn waves-effect waves-light green">
            <i class="material-icons left">add</i>
            Ajouter une émission
        </a>

        <div class="card-panel">
            <table class="bordered highlight responsive-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Vignette</th>
                    <th>Bandeau</th>
                    <th>Description</th>
                    <th>Horaires</th>
                    <th>Présentateurs</th>
                    <th class="center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for emission in emissions %}
                    <tr>
                        <td>{{ emission.id }}</td>
                        <td>{{ emission.nom }}</td>
                        <td>
                            <img src="{{ emission.vignette != null ? vich_uploader_asset(emission, 'fichierVignette') : asset('images/defaut/default.png') }}"
                                 alt="Vignette de {{ emission.nom }}"/></td>
                        <td>
                            <img src="{{ emission.bandeau != null ? vich_uploader_asset(emission, 'fichierBandeau') : asset('images/defaut/emission.png') }}"
                                 alt="Bandeau de {{ emission.nom }}"/></td>
                        <td>{{ emission.description }}</td>
                        <td>
                            {% if emission.active %}
                                {{ emission.jour.libelle }},
                                de {{ emission.heureDebut|date('H\\hi') }}
                                à {{ emission.heureFin|date('H\\hi') }}.
                            {% else %}
                                Non diffusée
                            {% endif %}
                        </td>
                        <td id="presentateurs">
                            {% for utilisateur in emission.presentateurs %}
                                <div class="truncate">
                                    <a class="waves-effect"
                                       href="{{ path('gatsun_website_utilisateur', {'nom' : utilisateur.username}) }}">
                                        <img src="{{ utilisateur.avatar ? vich_uploader_asset(utilisateur, "fichierAvatar") : asset("images/defaut/default.png") }}"
                                             alt="Avatar de {{ utilisateur.username }}" class="circle"/>
                                        {{ utilisateur.username }}
                                    </a>
                                </div>
                            {% endfor %}
                        </td>
                        <td class="center">
                            <a href="{{ path('gatsun_website_emission', {'id': emission.id}) }}"
                               class="btn waves-effect waves-light green">
                                <i class="material-icons left">subject</i>
                                Détails
                            </a>
                            <a href="{{ path('gatsun_website_emission_modifier', {'id': emission.id}) }}"
                               class="btn waves-effect waves-light">
                                <i class="material-icons left">mode_edit</i>
                                Modifier
                            </a>
                            <button class="btn btn-supprimer waves-effect waves-light red"
                                    data-emission="{{ emission.id }}">
                                <i class="material-icons left">delete</i>
                                Supprimer
                            </button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Pas d'émission.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    {# Boîte de confirmation de suppression #}
    <div id="supprimerEmission" class="modal">
        <div class="modal-content">
            <h4>Suppression de l'émission</h4>
            <p>Êtes-vous sur de vouloir supprimer cette émission ?</p>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-red btn-flat">Non</a>
            <a id="suppression" class="modal-action modal-close waves-effect waves-green btn-flat">Oui</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script language="JavaScript" type="text/javascript">
        $(document).ready(function () {
            // Gestion de la suppression des émissions
            $(document).on('click', ".btn-supprimer", function () {
                // Récupération de l'ID de l'émission et passage à la boîte
                $("#suppression").data('emission', $(this).data('emission'));

                // Ouverture de la boîte de dialogue
                $("#supprimerEmission").openModal();
            });
        });

        // Suppression de l'émission désirée
        $("#suppression").click(function () {
            var id = $(this).data('emission');

            // Requête AJAX
            $.ajax({
                        url: "{{ path('gatsun_website_emission_supprimer') }}?id=" + id,
                        dataType: 'html',
                        cache: false
                    })
                    .done(function () {
                        // Suppression de la ligne
                        $('table > tbody > tr > td:first-child').each(function () {
                           if($(this).html() == id)
                           {
                               $(this).parent().remove();
                           }
                        });

                        // Message : Succès !
                        Materialize.toast('Émission supprimée avec succès', 4000, 'green');
                    })
                    .fail(function () {
                        // Message : Erreur !
                        Materialize.toast("Erreur lors de la suppression de l'émission", 10000, 'red');
                    });

        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/emission.css') }}"/>
{% endblock %}