{% extends "::base.html.twig" %}
{% block title %}Publications &ndash; Administration &ndash; {{ parent() }}{% endblock %}
{% block body %}
<section class="panel panel-default">
	<div class="panel-heading">
		<h1>Publications &ndash; Administration</h1>
	</div>
	<div class="panel-body">
		<div id="alert"></div>
		<a href="{{ path('gatsun_website_publication_ajouter') }}"class="btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-plus"></span> Ajouter une publication</a>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Image</th>
					<th>Titre</th>
					<th>Auteur</th>
					<th>Émission</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for publication in publications %}			
					<tr>
						<td>{{ publication.id }}</td>
						<td><img src="{{ asset(publication.vignette) }}"/></td>
						<td>{{ publication.titre }}</td>
						<td><a href="{{ path('gatsun_website_utilisateur', {'nom': publication.utilisateur.username}) }}" >{{ publication.utilisateur.username }}</a></td>
						<td>{% if publication.emission is null %}
								News
							{% else %}
								{{ publication.emission.nom }}
							{% endif %}
						</td>
						<td class="btn-group-vertical">
							<a href="{{ path('gatsun_website_publication', {'id': publication.id}) }}" class="btn btn-default btn-success"><span class="glyphicon glyphicon-list-alt"></span> Voir</a>
							<a href="{{ path('gatsun_website_publication_modifier', {'id': publication.id}) }}" class="btn btn-default btn-info"><span class="glyphicon glyphicon-pencil"></span> Modifier</a>
							<a href="#" onClick="confirmerSuppression('{{ path('gatsun_website_publication_supprimer', {'id': publication.id}) }}')" class="btn btn-default btn-danger"><span class="glyphicon glyphicon-remove"></span> Supprimer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">Pas de publication</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>
{% endblock %}
{% block javascripts %}
<script language="JavaScript" type="text/javascript">

function confirmerSuppression(route)
{
	// Popup de confirmation
	if(confirm('Êtes-vous sur de vouloir supprimer cette publication ?'))
	{
		// Requête AJAX
		$.ajax({
	        url: route,
	        dataType: 'html',
	        cache: false
	    })
	    .done(function(reponse) {
	    	// Rafraîchir le corps du tableau (tbody)
	        $('tbody').replaceWith($(reponse).filter('div.container').html().slice($(reponse).filter('div.container').html().indexOf('<tbody>'), $(reponse).filter('div.container').html().indexOf('</tbody>') + 8));
	        // Message : Succès !
	        $('#alert').html('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Terminé !</strong> La publication sélectionnée a été correctement supprimée.</div>');
	    })
	    .fail(function()
	    {
	    	// Message : Erreur !
	    	$('#alert').html('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Oups !</strong> Une erreur s\'est produite lors de la suppression de la publication.</div>');
	    });
	}

	return false;
}
</script>
{% endblock %}
{% block stylesheets %}

{% endblock %}