{% extends "::base.html.twig" %}
{% block title %}Publications &ndash; Administration &ndash; {{ parent() }}{% endblock %}
{% block body %}
    <section>
        <h1>Administration</h1>
        <h2>Publications</h2>

        <a href="{{ path('gatsun_website_publication_ajouter') }}" class="btn waves-effect waves-light green">
            <i class="material-icons left">add</i>
            Ajouter une publication
        </a>

        <div class="card-panel">
            <table class="bordered highlight responsive-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Émission</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for publication in publications %}
                    <tr>
                        <td>{{ publication.id }}</td>
                        <td>
                            <img src="{{ publication.image ? vich_uploader_asset(publication, "fichierImage") : (publication.emission ? (publication.emission.bandeau ? vich_uploader_asset(publication.emission, "fichierBandeau") : asset("images/defaut/emission.png")) : asset("images/defaut/news.png")) }}"/>
                        </td>
                        <td>{{ publication.titre }}</td>
                        <td>
                            <a href="{{ path('gatsun_website_utilisateur', {'nom': publication.utilisateur.username}) }}">{{ publication.utilisateur.username }}</a>
                        </td>
                        <td>{% if publication.emission is null %}
                                News
                            {% else %}
                                {{ publication.emission.nom }}
                            {% endif %}
                        </td>
                        <td class="center">
                            <a href="{{ path('gatsun_website_publication', {'id': publication.id}) }}"
                               class="btn waves-effect waves-light green">
                                <i class="material-icons left">subject</i>
                                Voir
                            </a>
                            <a href="{{ path('gatsun_website_publication_modifier', {'id': publication.id}) }}"
                               class="btn waves-effect waves-light">
                                <i class="material-icons left">mode_edit</i>
                                Modifier
                            </a>
                            <button class="btn btn-supprimer waves-effect waves-light red"
                                    data-publication="{{ publication.id }}">
                                <i class="material-icons left">delete</i>
                                Supprimer
                            </button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Pas de publication</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    {# Boîte de confirmation de suppression #}
    <div id="supprimerPublication" class="modal">
        <div class="modal-content">
            <h4>Suppression de la publication</h4>
            <p>Êtes-vous sur de vouloir supprimer cette publication ?</p>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-red btn-flat">Non</a>
            <a id="suppression" class="modal-action modal-close waves-effect waves-green btn-flat">Oui</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script language="JavaScript" type="text/javascript">
        $(document).ready(function () {
            // Gestion de la suppression des publications
            $(document).on('click', ".btn-supprimer", function () {
                // Récupération de l'ID de la publication et passage à la boîte
                $("#suppression").data('publication', $(this).data('publication'));

                // Ouverture de la boîte de dialogue
                $("#supprimerPublication").openModal();
            });
        });

        // Suppression de la publication désirée
        $("#suppression").click(function () {
            var id = $(this).data('publication');

            // Requête AJAX
            $.ajax({
                        url: "{{ path('gatsun_website_publication_supprimer') }}?id=" + id,
                        dataType: 'html',
                        cache: false
                    })
                    .done(function () {
                        // Suppression de la ligne
                        $('table > tbody > tr > td:first-child').each(function () {
                            if ($(this).html() == id) {
                                $(this).parent().remove();
                            }
                        });

                        // Message : Succès !
                        Materialize.toast('Publication supprimée avec succès', 4000, 'green');
                    })
                    .fail(function () {
                        // Message : Erreur !
                        Materialize.toast("Erreur lors de la suppression de la publication", 10000, 'red');
                    });
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}"/>
{% endblock %}