{% extends "::base.html.twig" %}
{% block title %}Utilisateurs &ndash; Administration &ndash; {{ parent() }}{% endblock %}
{% block body %}
    <section>
        <h1>Administration</h1>
        <h2>Utilisateurs</h2>

        <div class="card-panel">
            <table class="bordered highlight responsive-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Pseudo</th>
                    <th>E-mail</th>
                    <th>Rôles</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for utilisateur in utilisateurs %}
                    <tr id="{{ utilisateur.username }}">
                        <td>{{ utilisateur.id }}</td>
                        <td>
                            <img src="{{ utilisateur.avatar ? vich_uploader_asset(utilisateur, "fichierAvatar") : asset("images/defaut/default.png") }}"
                                 alt="Avatar de {{ utilisateur.username }}"/></td>
                        <td>{{ utilisateur.username }}</td>
                        <td><a href="mailto:{{ utilisateur.email }}">{{ utilisateur.email }}</a></td>
                        <td>
                            {% for role in utilisateur.roles %}
                                {{ role }}
                                {% if loop.last == false %}
                                    ,
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="actions">
                            <a href="{{ path('gatsun_website_utilisateur', {'nom': utilisateur.username}) }}"
                               class="btn waves-effect waves-light green">
                                <i class="material-icons left">subject</i>
                                Détails
                            </a>
                            <a href="{{ path('gatsun_website_utilisateur_modifier', {'nom': utilisateur.username}) }}"
                               class="btn waves-effect waves-light">
                                <i class="material-icons left">mode_edit</i>
                                Modifier
                            </a>
                            <div>
                                {% if not utilisateur.isAccountNonLocked %}
                                    <button class="btn btn-debannir waves-effect waves-light orange"
                                            data-utilisateur="{{ utilisateur.id }}">
                                        <i class="material-icons left">add_circle_outline</i>
                                        Débannir
                                    </button>
                                {% else %}
                                    <button class="btn btn-bannir waves-effect waves-light red"
                                            data-utilisateur="{{ utilisateur.id }}">
                                        <i class="material-icons left">block</i>
                                        Bannir
                                    </button>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Pas d'utilisateur.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    {# Boîte de confirmation de bannissement #}
    <div id="bannirUtilisateur" class="modal">
        <div class="modal-content">
            <h4>Bannissement de l'utilisateur</h4>
            <p>Êtes-vous sur de vouloir bannir cet utilisateur ?</p>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-red btn-flat">Non</a>
            <a id="bannissement" class="modal-action modal-close waves-effect waves-green btn-flat">Oui</a>
        </div>
    </div>

    {# Boîte de confirmation de débannissement #}
    <div id="debannirUtilisateur" class="modal">
        <div class="modal-content">
            <h4>Débannissement de l'utilisateur</h4>
            <p>Êtes-vous sur de vouloir débannir cet utilisateur ?</p>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-red btn-flat">Non</a>
            <a id="debannissement" class="modal-action modal-close waves-effect waves-green btn-flat">Oui</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script language="JavaScript" type="text/javascript">
        $(document).ready(function () {
            // Gestion du bannissement des utilisateurs
            $(document).on('click', ".btn-bannir", function () {
                // Récupération de l'ID de l'utilisateur et passage à la boîte
                $("#bannissement").data('utilisateur', $(this).data('utilisateur'));

                // Ouverture de la boîte de dialogue
                $("#bannirUtilisateur").openModal();
            });

            // Gestion du debannissement des utilisateurs
            $(document).on('click', ".btn-debannir", function () {
                // Récupération de l'ID de l'utilisateur et passage à la boîte
                $("#debannissement").data('utilisateur', $(this).data('utilisateur'));

                // Ouverture de la boîte de dialogue
                $("#debannirUtilisateur").openModal();
            });
        });

        // Bannissement de l'utilisateur désiré
        $("#bannissement").click(function () {
            var id = $(this).data('utilisateur');

            // Requête AJAX
            $.ajax({
                        url: "{{ path('gatsun_website_utilisateur_bannir') }}?id=" + id,
                        dataType: 'html',
                        cache: false
                    })
                    .done(function () {
                        // Modification de la ligne
                        $('table > tbody > tr > td:first-child').each(function () {
                            if ($(this).html() == id) {
                                console.log($(this).parent().children('.actions').children('div').html());
                                $(this).parent().children('.actions').children('div').html(
                                        '<button class="btn btn-debannir waves-effect waves-light orange"' +
                                        'data-utilisateur="' + id + '">' +
                                        '<i class="material-icons left">add_circle_outline</i>' +
                                        'Débannir' +
                                        '</button>'
                                );
                            }
                        });

                        // Message : Succès !
                        Materialize.toast('Utilisateur banni avec succès', 4000, 'green');
                    })
                    .fail(function () {
                        // Message : Erreur !
                        Materialize.toast("Erreur lors du bannissement de l'utilisateur", 10000, 'red');
                    });

        });

        // Débannissement de l'utilisateur désiré
        $("#debannissement").click(function () {
            var id = $(this).data('utilisateur');

            // Requête AJAX
            $.ajax({
                        url: "{{ path('gatsun_website_utilisateur_debannir') }}?id=" + id,
                        dataType: 'html',
                        cache: false
                    })
                    .done(function () {
                        // Modification de la ligne
                        $('table > tbody > tr > td:first-child').each(function () {
                            if ($(this).html() == id) {
                                console.log($(this).parent().children('.actions').children('div').html());
                                $(this).parent().children('.actions').children('div').html(
                                        '<button class="btn btn-bannir waves-effect waves-light red"' +
                                        'data-utilisateur="' + id + '">' +
                                        '<i class="material-icons left">block</i>' +
                                        'Bannir' +
                                        '</button>'
                                );
                            }
                        });

                        // Message : Succès !
                        Materialize.toast('Utilisateur débanni avec succès', 4000, 'green');
                    })
                    .fail(function () {
                        // Message : Erreur !
                        Materialize.toast("Erreur lors du débannissement de l'utilisateur", 10000, 'red');
                    });

        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}"/>
{% endblock %}