{% extends "::base.html.twig" %}
{% block title %}Vignettes &ndash; Administration &ndash; {{ parent() }}{% endblock %}
{% block body %}
    <section>
        <h1>Administration</h1>
        <h2>Vignettes</h2>

        <a href="{{ path('gatsun_website_vignette_ajouter') }}" class="btn waves-effect waves-light green">
            <i class="material-icons left">add</i>
            Ajouter une vignette
        </a>

        <div class="card-panel">
            <table class="bordered highlight responsive-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for vignette in vignettes %}
                    <tr>
                        <td>{{ vignette.id }}</td>
                        <td>{{ vignette.titre }}</td>
                        <td>{{ vignette.description }}</td>
                        <td><img src="{{ vich_uploader_asset(vignette, 'fichierImage') }}"/></td>
                        <td>
                            <a href="{{ path('gatsun_website_vignette_modifier', {'id': vignette.id}) }}"
                               class="btn waves-effect waves-light">
                                <i class="material-icons left">mode_edit</i>
                                Modifier</a>
                            <button class="btn btn-supprimer waves-effect waves-light red"
                                    data-vignette="{{ vignette.id }}">
                                <i class="material-icons left">delete</i>
                                Supprimer
                            </button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Pas de vignette</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    {# Boîte de confirmation de suppression #}
    <div id="supprimerVignette" class="modal">
        <div class="modal-content">
            <h4>Suppression de la vignette</h4>
            <p>Êtes-vous sur de vouloir supprimer cette vignette ?</p>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-red btn-flat">Non</a>
            <a id="suppression" class="modal-action modal-close waves-effect waves-green btn-flat">Oui</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script language="JavaScript" type="text/javascript">
        $(document).ready(function () {
            // Gestion de la suppression des vignettes
            $(document).on('click', ".btn-supprimer", function () {
                // Récupération de l'ID de la vignette et passage à la boîte
                $("#suppression").data('vignette', $(this).data('vignette'));

                // Ouverture de la boîte de dialogue
                $("#supprimerVignette").openModal();
            });
        });

        // Suppression de la vignette désirée
        $("#suppression").click(function () {
            var id = $(this).data('vignette');

            // Requête AJAX
            $.ajax({
                        url: "{{ path('gatsun_website_vignette_supprimer') }}?id=" + id,
                        dataType: 'html',
                        cache: false
                    })
                    .done(function () {
                        // Suppression de la ligne
                        $('table > tbody > tr > td:first-child').each(function () {
                            if ($(this).html() == id) {
                                $(this).parent().remove();
                            }
                        });

                        // Message : Succès !
                        Materialize.toast('Vignette supprimée avec succès', 4000, 'green');
                    })
                    .fail(function () {
                        // Message : Erreur !
                        Materialize.toast("Erreur lors de la suppression de la vignette", 10000, 'red');
                    });

        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}"/>
{% endblock %}